
{% extends 'index.html' %}{% block content %}

<div class="bg-gradient-to-b from-black to-[#1b1d20]">
  <div class="container mx-auto px-8 py-8">
    <div class="flex flex-row justify-center items-center gap-4">
      <div class="bg-gray-900 rounded-xl shadow-xl px-4 py-4">
        <img src="{{ url_for('video') }}" class="w-full rounded-lg shadow-md" />
      </div>
      <div class="bg-gray-900 rounded-xl shadow-xl px-4 py-4 relative">
        <img src="{{ url_for('moving') }}" class="w-full rounded-lg shadow-md" />
        <button class="absolute bottom-0 left-0 mb-4 ml-4 bg-black font-bold py-2 px-4 rounded text-green-500 hover:bg-white transition duration-300 ease-in-out" aria-label="Turn camera left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 h-8">
                <path fill="currentColor" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
            </svg>
        </button>
        <button class="absolute bottom-0 right-0 mb-4 mr-4 bg-black font-bold py-2 px-4 rounded text-green-500 hover:bg-white transition duration-300 ease-in-out" aria-label="Turn camera right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 h-8">
                <path fill="currentColor" d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
            </svg>
        </button>
      </div>      
    </div>
    <div class="border border-gray-900 rounded-lg p-4 mb-4 bg-gray-900 mt-7">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-2xl font-medium text-white">Alerts</h3>
          <button class="text-green-500 hover:text-green-600" aria-label="Add user">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
          </button>
        </div>
        <textarea id="alert-textarea" class="text-gray-500 w-full h-40 resize-none rounded-xl bg-gray-300" readonly></textarea>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
   var socket = io.connect('http://127.0.0.1:5000');
  // Get the textarea element
  const alertTextarea = document.getElementById('alert-textarea');

  socket.on('connect', function(data) {
      // socket.send('Socket is connect to 127.0.0.1 on Port 5000 ...');
    });

  socket.on('sendAlert', function(data) {
      // socket.send('Socket is connect to 127.0.0.1 on Port 5000 ...');
      console.log("Received data: ", data);
    });

  // Define a function to add alerts to the textarea
  function addAlert(alertText) {
      const now = new Date();
      const timeStr = now.toLocaleTimeString();
      const paddedText = alertText.padStart(alertText.length + 3, ' '); // Add 3 spaces to align with the time string
      alertTextarea.value += `${timeStr} | ${paddedText}\n`;
      alertTextarea.scrollTop = alertTextarea.scrollHeight;
      console.log("Added alert: ", alertText);
  }

  // // Define a function to receive recognized person's name from Python and add it to the alert textarea
  // function sendAlert(name) {
  //     const alertText = `Person recognized: ${name}`;
  //     addAlert(alertText);
  // }
</script> -->


  


{% endblock %}

<!-- <img src="{{ url_for('video') }}" width="49%" />
        <img src="{{ url_for('moving') }}" width="49%" /> -->
        <!-- Test images----------------------------------- -->