<!DOCTYPE html>
<style>

body {
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", sans-serif;
	font-weight: 1000;
}

</style>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMART|C</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="h-screen bg-gradient-to-b from-[black] to-[#1b1d20] text-white">
      <div id="navbar">
        <!-- <h1 class="text-sm pt-1 pl-2 text-gray-500">// ElecEng 40I6 - Group 24 - Capstone // Atiqul // Gurkaran // Nina // Deepjoy</h1> -->
        <nav class="bg-gray-800 shadow-lg">
          <div class="mx-auto px-4 py-2 max-w-7xl sm:px-6 lg:px-8">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <a href="#" class="flex-shrink-0">
                  <img class="h-8 w-8" src="https://via.placeholder.com/50" alt="SmartC Logo">
                </a>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline">
                    <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900">Live Feed</a>
                  </div>
                </div>
              </div>
              <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                  <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700" aria-label="Notifications">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 14l-3 3m0 0l-3-3m3 3V8a6 6 0 00-6-6 6 6 0 00-6 6v6l2.6-1.5m9.4 1.5L18 14m0 0l-2.6 1.5M6 22h12a2 2 0 002-2H4a2 2 0 002 2z" />
                    </svg>
                  </button>
        
                  <!-- Profile dropdown -->
                  <div class="ml-3 relative">
                    <div>
                      <button class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
                        <img class="h-8 w-8 rounded-full" src="https://via.placeholder.com/50" alt="User avatar">
                      </button>
                    </div>
                    <!-- Profile dropdown panel -->
                    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
                      <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Add</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">History</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button type="button" class="bg-gray-900 inline-flex">
              </div>    
        <div>
          <h1 class="text-5xl text-center pt-7">Smart Surveilance System</h1>
        </div>
        {% block content %}
        
        {% endblock %} 
      </div>
    </div>
    
    
  </body>


</html>
